header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  a {
    font-style: normal;
    text-decoration: none;
  }
}

// 사실상 네브
.logo {
  /* contents */
  text-align: center;
  font-family: Oswald;
  font-size: 1.2rem;

  /* feature */
  background-color: white;
  color: rgb(43, 43, 43);
  padding: 1em;
  box-shadow: 0px 2px 5px rgb(79, 79, 79);

  /* location */
  position: relative;

  /* effect */
  transition: 1s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  #logo {
    font-size: 0.8em;
  }
  i {
    // margin-left: auto;
    // cursor: pointer;

    display: none;
  }
}
// 얘가 link wrapper
nav {
  display: none;
  text-align: center;

  a {
    padding: 0.6em 0.8em;
    border-radius: 3px;

    /* font settings */
    font-size: 0.8rem;
    text-decoration: none;
    letter-spacing: 1.5px;
  }
  a:visited {
    color: black;
    font-style: normal;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    i {
      top: 10px;
    }
  }
}
