@import "_base";

/* predefiend */
.clicked {
  font-weight: 800;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4em;

  form {
    padding: 1em;
    overflow: hidden;
    label {
      font-weight: 800;
    }
    input[type="text"],
    textarea {
      // font-family: "ChosunSm";
      font-family: "KyoboHand";
      padding: 5px 3px;
      width: 100%;
    }
    textarea {
      border: none;
      line-height: 1.4em;
      padding: 1em;
    }
    textarea:focus {
      outline: none;
    }
    .content {
      text-align: center;
      border: 1px black solid;
      overflow: hidden;
      .aligners {
        background-color: rgb(226, 226, 226);
      }
      input[type="radio"] {
        content: url("http://i.stack.imgur.com/M3EkO.png");
        height: 16px;
        width: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        vertical-align: middle;
      }
      input[type="radio"]:checked {
        content: url("http://i.stack.imgur.com/Ialva.png");
      }
      textarea {
        height: 50vh;
      }
    }
    button {
      margin-top: 0.5em;
    }
    #updateBtn,
    #submit {
      background-color: black;
      color: white;
      float: right;
    }
  }
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 480px) {
  main {
    width: 90%;
  }
  input,
  textarea {
    font-size: 0.95em;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 481px) {
  main {
    min-width: 400px;
  }
}
