<div class="contact-info">
    <b>CONTACT</b>
    <p>
        이동규 / Justin Lee
        <br>
        nninnnin7@gmail.com
        <br>
        justindglee.com
    </p>
    <br>
</div>

<div class="insta-photo">
    <b>INSTAGRAM</b>
    
    
    <div id="instagram-embed">
    <img alt="instagram-image" id="img1">
    </div>
</div>