<div class="logo" id="logobar">
    <!-- logo -->
    <a href="/" id="logo">Justin's blog</a>
    <!-- hamburger icon -->
    <a href="/">
        <i class="fa fa-bars fa-lg" id="hamburger"></i>
    </a>
</div>

<nav>
    <a href="/">home</a>
    <a href="/profile">profile</a>
    <a href="/project" id="project">project</a>
    <a href="/gallery">gallery</a>
    <a href="/diary">diary</a>
    <a href="/visitor">visitor</a>
</nav>

<div id="pop-up">
    <div class="flex-container">
        <a href="/profile">profile</a>
        <a href="/project">project</a>
        <a href="/gallery">gallery</a>
        <a href="/diary">diary</a>
        <a href="/visitor">visitor</a>
    </div>
</div>