<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Justin's blog</title>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="shortcut icon" href="/favicon.ico?v=1.1">
<!-- to use fontawesome -->
<script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>