/* css initialize */

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* font import */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800');

/* header */

header{
    margin-bottom: 1em;
}

.logo{
    color: rgb(43, 43, 43);
    text-align: center;
    padding:1em;
    font-size:2em;
    font-family: ;
}


nav{
    text-align: center;
    padding: 1em 13em;
    background-color: #bbecd3;
    display:flex;
    justify-content: space-around;
}

nav button{
    color: white;
    padding:0.5em;
    background-color: rgba(30,130,76,1);
    font-size: 1em;
    font-weight: 500;
}


/* contents */
div .contents{
    background-color: grey;
    margin-bottom:1em;
}

section{
    padding: 1em;
    background-color: rgb(175, 214, 230);
}
section article{
}
section .drawings{
}
aside{
    padding:1em;
}


/* footer */
footer{
    background-color: rgba(30,130,76,1);
    text-align: center;
    padding: 1em;
}