/* css initialize */

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* font face */

/* 위와 같은 방식은 해당 어플리케이션(=웹페이지, 혹은 웹사이트)의 서버에서 웹폰트를 포함하지 않을 때 CDN처럼 해당 폰트 resource 가 있는 외부 서버에서 폰트를 불러오는 것. 따라서 로딩 시간이 단점이 될 수 있다. */

@font-face{
    font-family: NanumGothic;
    src: url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800) format("woff2")
}

/* header */

header{
}

.logo{
    color: rgb(43, 43, 43);
    text-align: center;
    padding:1em;

    /* font family + fallbacks */
    font-family: Oswald;
    font-size:2em;
}


nav{
    text-align: center;
    padding: 1em;
    background-color: #bbecd3;
}

nav button{
    color: white;
    padding:0.5em;
    background-color: rgba(30,130,76,1);
    font-size: 1em;
    font-weight: 500;
}


/* contents */
div .contents{
    /* size and aligning */
    max-width:80vw;
    margin:0 auto;

    /* grid */
    display: grid;

    /* font */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* transition(animate) */
    transition: max-width 0.5s ease;
}

section{
    padding: 1em;
    background-color: rgb(175, 214, 230);
}
section .article{
    padding: 1em;
    background-color: #fff;
}
section .drawing{
    padding: 1em;
    background-color: #fff;
}
aside{
    padding:1em;
    background-color: pink;
}


/* footer */
footer{
    background-color: rgba(30,130,76,1);
    text-align: center;
    padding: 1em;
}


/* 0 ~ 600px */
@media only screen and (max-width: 600px){
    div .contents{
        color:blue;
        max-width:100%;
    }

    aside{
    }
}

/* 601px 1100px */
@media only screen and (min-width: 601px){
    div .contents{
        color:brown;
        max-width:80%;
    }
}

/* 1101px~ */
@media only screen and (min-width: 1101px){
    div .contents{
        color:red;
        max-width:80%;

        /* grid columm changed */
        grid-template-columns: 70% 30%;
    }
}