/* css initialize */

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;

    scroll-behavior:smooth;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* font face */

/* 위와 같은 방식은 해당 어플리케이션(=웹페이지, 혹은 웹사이트)의 서버에서 웹폰트를 포함하지 않을 때 CDN처럼 해당 폰트 resource 가 있는 외부 서버에서 폰트를 불러오는 것. 따라서 로딩 시간이 단점이 될 수 있다. */

@font-face{
    font-family: NanumGothic;
    src: url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800) format("woff2")
}


/* container */
.container{
    background-color: #bbecd3;
}


/* header */

header{
}

.logo{
    background-color: white;
    color: rgb(43, 43, 43);
    text-align: center;
    padding:1em;

    /* font family + fallbacks */
    font-family: Oswald;
    font-size:2em;
}


nav{
    text-align: center;
    padding: 2em;
    background-color: rgba(30,130,76,1);
}

nav a{
    padding: 0.6em 0.8em;
    
    
    /* font settings */
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 550;
    text-decoration: none;
    letter-spacing: 1.5px;
    vertical-align: baseline;
}
nav a:visited{
    color:white;
    font-style: normal;
}
nav a:hover{
    background-color: black;
}


/* contents */
div .contents{
    /* size and aligning */
    margin:0 auto;

    /* grid */
    display: grid;

    /* font */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* transition(animate) */
    transition: max-width 0.5s ease;
}

section{
    padding: 1em;
    background-color: rgb(175, 214, 230);
}
section .article{
    padding: 1em;
    background-color: #fff;
}
/* grid container */
section .drawing{
    background-color: #fff;
    padding: 2%; /* have to same with grid-gap */ 
    display:grid;
    grid-gap:2%;
    grid-template-columns: 1fr 1fr;
}

/* grid item */
.drawing > div{
    width:100%;
}
aside{
    padding:1rem;
    background-color: pink;
    line-height: 30px;

    font-size:0.8rem;
}

aside b{
    font-size:0.8rem;
}
aside div{ /* for all descendent divs */
    /* background-color: blue; */
}
aside > div{ /* only for direct children (divs) */
    padding: 1.83rem 1rem;
    background-color: #fff;
    width:80%;
    margin: 0 auto;
}

#instagram-embed{
    width:100%;
    margin:1em auto;
}

/* footer */
footer{
    color:white;
    background-color: rgba(30,130,76,1);
    text-align: center;
    padding: 1.5em;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:0.8em;
}

#home{
    display: none;
    position:fixed;
    right:10px;
    bottom:10px;
}

@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
}


/* 0 ~ 600px */
@media only screen and (max-width: 600px){
    /* top button show-up */
    #home{
        display:block;
    }

    .logo{
        background-color: rgba(30,130,76,1);
        color: #fff;
        padding:0.7em;
        font-size:1.1em;
    }
    
    nav{
        display:none;
    }

    div .contents{
        color:blue;
        max-width:100%;
    }

    footer{
        text-align: center;
        padding: 1.2em;
        font-size:0.8em;
    }

    #since{
        display:none;
    }
}

/* 601px 1100px */
@media only screen and (min-width: 601px){
    div .contents{
        color:brown;
        max-width:80%;
    }
}

/* 1101px~ */
@media only screen and (min-width: 1101px){
    div .contents{
        color:red;
        max-width:80%;

        /* grid columm changed */
        grid-template-columns: 70% 30%;
    }
}