<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/diary.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body class="postings">
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <a href="/">Justin's blog</a>
                <a href="/">
                    <i class="fa fa-bars fa-lg" id="hamburger"></i>
                </a>
            </div>

            <nav>
                <a href="/"">home</a>
                <a href="profile.html"">profile</a>
                <a href="project.html">project</a>
                <a href="gallery.html">gallery</a>
                <a href="diary.html" class="active" id="diary">diary</a>
                <a href="visitor.html">visitor</a>
            </nav>

            <div id="pop-up">
                <div class="flex-container">
                    <a href="profile.html">profile</a>
                    <a href="project.html">project</a>
                    <a href="gallery.html">gallery</a>
                    <a href="diary.html" id="diary">diary</a>
                    <a href="visitor.html">visitor</a>
                </div>
            </div>
        </header>

        <!-- contents -->
        <div class="contents">
            <!-- main section -->
            <section class="main">
                <!-- post -->
                <div class="post">
                    <!-- post image -->
                    <div class="img">
                        <img src="../imgs/akira.jpg" alt="akira"width=100%>
                    </div>
                    <!-- post description -->
                    <div class="description">
                        <h2>Akira</h2>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati suscipit reprehenderit nisi, natus sapiente est tempore aliquam sed, repellat neque dolores non earum ducimus pariatur harum. Laboriosam quasi nobis qui eius eos distinctio voluptas dolor impedit quos suscipit aliquid cum, fugiat doloremque, facere non eum ab, ad perferendis voluptates.
                        </p>
                        <span id="more">see more</span>
                        <span id="date">2020-02-27</span>
                    </div>
                </div>

                <hr>

                <!-- post -->
                <div class="post">
                    <!-- post description -->
                    <div class="description">
                        <h2>Flavors of youth review</h2>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati suscipit reprehenderit nisi, natus sapiente est tempore aliquam sed, repellat neque dolores non earum ducimus pariatur harum. Laboriosam quasi nobis qui eius eos distinctio voluptas dolor impedit quos suscipit aliquid cum, fugiat doloremque, facere non eum ab, ad perferendis voluptates.
                        </p>
                        <span id="more">see more</span>
                        <span id="date">2020-02-20</span>
                    </div>
                    <!-- post image -->
                    <div class="img">
                        <img src="../imgs/flavors_of_youth.jpg" alt="akira"width=100%>
                    </div>
                </div>

                <hr>

                <!-- post -->
                <div class="post">
                    <!-- post image -->
                    <div class="img">
                        <img src="../imgs/little_miss_sunshine.jpg" alt="akira"width=100%>
                    </div>
                    <!-- post description -->
                    <div class="description">
                        <h2>미스 리틀 선샤인</h2>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati suscipit reprehenderit nisi, natus sapiente est tempore aliquam sed, repellat neque dolores non earum ducimus pariatur harum. Laboriosam quasi nobis qui eius eos distinctio voluptas dolor impedit quos suscipit aliquid cum, fugiat doloremque, facere non eum ab, ad perferendis voluptates.
                        </p>
                        <span id="more">see more</span>
                        <span id="date">2020-02-15</span>
                    </div>
                </div>

                <hr>
                
            </section>
        </div>

        <!-- footer -->
        <footer>
            Justin's blog&copy;
            <br>
            <span id="since">2020 ~</span>
        </footer>

        <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

        <script src="../js/common.js"></script>
    </div>
</body>
</html>
