<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <a href="/">Justin's blog</a>
                <a href="/">
                    <i class="fa fa-bars fa-lg" id="hamburger"></i>
                </a>
            </div>

            <nav>
                <a href="/"">home</a>
                <a href="profile.html">profile</a>
                <a href="project.html" class="active">project</a>
                <a href="gallery.html">gallery</a>
                <a href="diary.html" id="diary">diary</a>
                <a href="visitor.html">visitor</a>
            </nav>

            <div id="pop-up">
                <div class="flex-container">
                    <a href="profile.html">profile</a>
                    <a href="project.html">project</a>
                    <a href="gallery.html">gallery</a>
                    <a href="diary.html" id="diary">diary</a>
                    <a href="visitor.html">visitor</a>
                </div>
            </div>
        </header>

        <!-- contents -->
        <div class="contents">
            <!-- main section -->
            <section class="main">
            <h1>프로젝트</h1>
            </section>
        </div>

        <!-- footer -->
        <footer>
            Justin's blog&copy;
            <br>
            <span id="since">2020 ~</span>
        </footer>

        <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

        <script src="../js/common.js"></script>
    </div>
</body>
</html>
