<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/gallery.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- contents -->
    <main>
        <!-- main section -->
        <section class="pictures">
            <div>
                <img src="https://lh3.googleusercontent.com/X9KLSoDfeJDM3IbbVBCYNlno60tR_OOmL4N5FnBbZQTaxdPoerhuTU9Gj5QeDFhpeZiTpIiSHSCGb4olIGHZFFS-EKlBPGDyIUBPZ8iFhyo_e4VWm-F-wB5cfy4y2Vc27deF3w4UNVbqP4w1SadvxZ0yf3PLmechu0EinKGCDtODJjZyuUjAxMMXC7X_E1pZbbHQWNZOuQ59zorJsnAk8NBKnS7J9GrijIQV3XEKNIS96upZP92d6nDm88wNdlhkFQmzPTZV9lmuwNZdqRuXvMbv0t__Wf6eP8Kh28wR55nWsh3fwhatyRsuUwrXn5yzHNMox-N8-31bcF_9k4dWdbc4lhU-24XaR7cKaiqG8-pPib_1AdqgrZydxp6ixCMcA0CexyhOhoWdOARFJig1LyLfp7dhSLqBUecmQ9nQTO5t09eTgZ1HmtI64SGlTbuedt04JtV7htZyt1UJDrNSrGqfvpwY5SL7UyPNJAEtHcXcQZtUWQS4VRiAr0VEaYKtwQZd45BFi3j7aRjxMmn0xrP4eKdaqPPgz4KvzJHaCN0WYtSdiRoFqZsMReQJtrZR9c1ntlb1vbeqniveUzuvC0oPRYFqMYyW5aPgJZNdS8MdaYSRImSQoMwGoktkcqa509ZgBKNUhO3sauFVc-aoJw6vwS4C_3ykY3JA-2eAkiqPj617HoQrIbp31qrKPQ=s988-no" alt="hangang">
                <div class="words">
                    한강
                </div>
            </div>
            <div>
                <img src="https://i.pinimg.com/564x/df/e7/8a/dfe78ae1f717b9515f5fc7400085c89d.jpg" alt="seulgi">
                <div class="words">
                    Seulgi
                </div>
            </div>
            <div>
                <img src="https://lh3.googleusercontent.com/pUDkSM9pKLq13dETjFvKyoi8g8CivAZkdc3f7GZteyrNBxwrIvtOpt52yllI3icwC0xpRM9GKStN0od-3m0-okFHN1S5M0ac9gBUPIMKUi9EOouTBaGG-yCKdQHvLVk3U7pol0uRk-w49xF6s3ZGXoQk-1faMx3MR3o8EE5V1m74yj3RiOz1gYj3bXOTNVR0i7031k6y7bITeVHpwJ1aazhLpNTYabQXVKcCFq-_l_LjUueGSJsIMRjFnTWmyUZs-hrqfy_928gKLO6WC9Z-ti6Y1QBq4pBep3WHFpl3_fZMd9enmzpqq8HvnP2sz7ddDsjywjyWr8cb_ileolIwLWndGIOZfv6GLDj1ZBLHF9bkwl-aOboqgX2WuR2vo7aUCmLpteS4j975oe4VGYMsFqwL1XRHgG4BYJoWlIhLUCrsiQuHSLH9dvbtH1Hvmda8STZigqXqaOvseNoaSd892RFPDOuzsWUrWcByW72vujhOTLCKbsShGptj1UupMNgACcKcegcXKtfVj7mWZmbl7sZLjO68w1xTwlB1ZHp2SZJjZmQH-2vY6cyCz8I-x14WMLaIA2tz2D-5ZBerJLJYhIkLFW5gvLkBzQGSbnejb1MEpD5k42-FXQltt89gJy6SOuQk57l5xKOhhl3LGbcAhiCHwXbJHkOuXIBqxXeHhUY1_w8G3ZyPvnL6rKc5CQ=s988-no" alt="img3">
                <div class="words">
                    metro
                </div>
            </div>
            <div>
                <img src="https://lh3.googleusercontent.com/kSskk1R13Y53up8II_Z2gOA6YeQqjoi-f204GbGjgjGe5A0S4lSQxRiP-sqL5tGEKAJlh1JTmdZFBMIDnhp8e9p1T5DjNT7owv4wppvQvq9K88jw0xoXuZ3umptBmLlP02CPBNdbu9OOZpb_qYMaIK7BcPjxcX7QhdSQj0O36vW8mWDlmnzkKir1ehZPQZt2RQ0r383jZdtpr5-qn5yo1TzN6MBkcs61fRBv9FgV1zdpqKflcCYa9b_72OwyP2L_f67BcKPEHvxCKMb8BW4UUnV0DXN7C0BjUDCL8hz4Z4fzWiW3Sr_ki5smmzCk1Lt6VWCoidD1MpPxchLFHOs8DJNELPf69BjxTAMrsBvB0RuvOABFDaVPnn_7L0WY_8qt1TeFCEcmChHqf7tRej3Z8bEyuCi7pQL-o1pU3c0E-AGfCIKFhPZ2UgyJxdt1XDYQ8xbd9ghbbJPsklmszTA2NB99KWJKjZ2aIZTiLS9iwzaIgpbD7K_B4gCVZq61jL_o0QWRa5JR7F82xyBpMc-kT04Y2oWWkgE8LNN_4OOm7A41f9HnDoGgQ0PcpetaKKZpH0RuTr37wtWm8u0wWywH8KhKg-zzCZNsNUUBAYs5QII4IUmsVDPlgrDbjQUOhiDbICZUNck-QHoUEiPbHNDLAGXkqcs03pO6F1C5tOQrdcI8eON1ekNXvpqeTafslA=s988-no" alt="img4">
                <div class="words">
                    code
                </div>
            </div>
            <div>
                <img src="https://lh3.googleusercontent.com/8wP8P-0pR4vtpnM-O-tGZlpu-MKgPJO3fIXubqUi-JjocVpQDN6RO-Vk4-2VrKGvi826oedlvZ2k4PpZuuIYjDyauXMIY-0t5q652R4BKEqp_m3JiH2MD-g23zGB7aYiGePbiA-WPIQlooVsXUde9NCg5p7osWPkqPlStqoC9KEchBH-HVO11dIBgDDZ_hNq9tmbiYiJKIg57Tct8GjXuWN7mr9KYPTN368rHldcVshokzAcoU9T8FcnKvRcX0_l-ya_dhG5WlmFytYBFlEs2u6OtoXZLZq9jknkeFS8qJthic1iJvVOZCOiAHB4SH91OAzjVt5_AxrCWEGtBk1xcKX-EM1wdse1YgEqvQ-Ex4UD5b9DvCmrumsxmyg8jw8O72Qp_tqBBT7TxvrPgLSKht7iLhvNuehXndt_XsuqFw_J19s469R3qwVs3-jue9UHP6pjZ-h4C4xcsZ1fE_1yWHlDfkpOd2nokFgqAOgx_hGkQyRCsYWUGcQnMUqMTTlZrY-o1PNIRqHDsbovnvs5mXauFr_a1oHdwh9wEjSxF2rrgR5aM6G-3HBhpPBOuDv88SllcZCbVcat9U_YzHOgKBPGGB5mUGd733KfsVKtj3EpSgzTBzeFTvqvfsmYFjFtLTXkyszHRaL-VPZyeAxdQ_WGaCipQFQb7N0tuusItc_1Dax99jYIWPAW6BV3=w1757-h988-no" alt="img5">
                <div class="words">
                    In japan
                </div>
            </div>
            <div>
                <img src="https://lh3.googleusercontent.com/9c4jSzWbELvpE6eFW_oGq8DhgERxX_sXUCcqb0yvGcoq-UMG-dZT_BaGmDd1FNNcrvCKRf7_kk5EZFX9lgS4MTlBbQW38Yr-ohx48_LAC3VEfqiMzdzAfDVRBiE7YXrYgghb8B0obcPlVvKJsChPw6haZ7Fxpug3cObV_O707pDX61pjsf9IkJh_mq3NFW-VlbDYEURw7kfVkQ57W64GYmEr90GBhil9rSvEcE__a6z3DwsaLh-7PqolAY281f8spDVt1uF_1LnskrviO0M2-Z2SXnUWs2hFDwx5mbxJ4GBwt8RdqVw5YqjvUPDa_SL3VMnEHEkZkPBos7pWDVg06XFQyh9x1-eFhwMpqhvIny3NZfJfkOGT1WYixruCPDU_L21Y6anvUYhIKOa24G_7NBcMRgKAAN6J8uSdK320v-9Nq3ZUqHj4Jk_3QwQarUPzomDWUWuapliqZg2SK755_dBPbbWeuS-GhVDJuFtWjkCiG_N3yTHeWvtd_LHhTukEuS1GBlRd2WKnC3VFemsoV5SD2WeABzLhJDk3OGB-DQoBLt3nCNTlOpN7HgIHxVt_Fs6EtC549wCmUJs8SPbGfhJDDj2hnpxu_HQePB6XeZpoJfqA9gIQUUlBoKDTEqA_zqRXw6GF_W1NiG33DZ4fyRwWGT6Sdn21y76JS4_op1quA248w9KK1zSPW-ru=w1757-h988-no" alt="img6">
                <div class="words">
                    In japan
                </div>
            </div>
            
        </section>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <button id="home">UP</button>

    <script src="../libs/common.js"></script>
</body>
</html>
