<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/gallery.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- contents -->
    <main>
        <!-- main section -->
        <section class="pictures">
            <div><img src="https://i.pinimg.com/564x/f1/12/e2/f112e242e0490a5e02f41053dcf27d10.jpg" alt="img1" id="img1"></div>
            <div><img src="https://i.pinimg.com/564x/76/d0/2a/76d02a54a3267ec9c912fe68dfadda8f.jpg" alt="img2" id="img2"></div>
            <div><img src="https://i.pinimg.com/564x/f7/6d/4a/f76d4a7840e37354dc864622462aa45a.jpg" alt="img3" id="img3"></div>
            <div><img src="https://i.pinimg.com/564x/c7/68/63/c76863eaee0f11a0ccc5686b3464dbaa.jpg" alt="img4" id="img4"></div>
            <div><img src="https://i.pinimg.com/564x/be/ed/2e/beed2e306fe7f0a15590e98644ea8812.jpg" alt="img5" id="img5"></div>
            <div><img src="https://i.pinimg.com/564x/e1/35/7e/e1357e9e2ae44091a136f35b867684ee.jpg" alt="img6" id="img6"></div>
            <div><img src="https://i.pinimg.com/564x/a6/09/1f/a6091f216bab682b51d101779fcf6f0a.jpg" alt="img7" id="img7"></div>
            <div><img src="https://i.pinimg.com/564x/e2/fa/0b/e2fa0b9536a7007b6b74d4b7320d8697.jpg" alt="img8" id="img8"></div>
            <div><img src="https://i.pinimg.com/564x/df/e7/8a/dfe78ae1f717b9515f5fc7400085c89d.jpg" alt="img8" id="img8"></div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        Justin's blog&copy;
        <br>
        <span id="since">2020 ~</span>
    </footer>

    <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

    <script src="../js/common.js"></script>
</body>
</html>
