<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- contents -->
    <div class="contents">
    </div>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>
</body>
</html>