<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- contents -->
<<<<<<< HEAD
    <section class="contents">
        <article>
            <h1>제목</h1>
            <p>내용</p>

            그니까 쟤가 아무리 빠르게 잡아채도 결국 서버 껐다 켜야하는 시간이 필요하군..
        </article>
    </section>
=======
    <div class="contents">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cum quae vero voluptatem pariatur omnis hic facere nihil, sint impedit eveniet, numquam autem molestiae rerum earum! Architecto, rerum maxime magni vitae perferendis soluta tempora, numquam quia neque assumenda similique ad! Corporis repudiandae aspernatur animi vel quos, dignissimos in consectetur maxime necessitatibus, deserunt explicabo, dolorum enim voluptate. Eos doloribus molestias, blanditiis nihil quod, reiciendis expedita voluptate quibusdam animi velit, corrupti praesentium voluptatibus dicta illum? Facilis doloribus qui soluta! Inventore, in possimus! Sapiente harum porro eius neque possimus assumenda sunt velit, ipsam, officiis iure similique consectetur! Reprehenderit perferendis sit explicabo beatae nemo!
    </div>
>>>>>>> fa793d0313be87aaa1b7bdbd32f02c576bb1a2e5

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>
</body>
</html>