<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- contents -->
    <section class="contents">
        <article>
            <h1>제목</h1>
            <p>내용</p>

            그니까 쟤가 아무리 빠르게 잡아채도 결국 서버 껐다 켜야하는 시간이 필요하군..
        </article>
    </section>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>
</body>
</html>