<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %> 
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <!-- main section -->
        <section class="main">
            <!-- profile -->
            <div class="profile-info" id="item1">
                <!-- profile image -->
                <div id="img-wrapper">
                    <img src="../imgs/profile.jpg" alt="profile">
                </div>
                <!-- profile letter -->
                <h2>안녕하세요!</h2>
                <p>
                    개발자를 직업으로 삼으려 노력중인 이동규입니다.
                </p>
            </div>

            <!-- form -->
            <form class="input-form" action="" id="item2">
                <b>Contact me!</b>
                <br>
                <label for="name">이름:</label><br>
                <input type="text">
                <br>
                <label for="contact">연락처(email, kakao, phone):</label><br>
                <input type="text">
                <br>
                <label for="message">할말:</label><br>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </form>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <button id="home">UP</button>

    <script src="../libs/common.js"></script>
</body>
</html>
