<!DOCTYPE html>
<html lang="ko">
<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="../css/project.css">
   <link rel="stylesheet" href="../css/dock.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <div class="dockContainer"></div>

    <script src="/dist/bundle.js"></script>
    <script src="../libs/common.js"></script>
    <script src="../libs/diary.js"></script>
</body>
<!--loader-->
<%- include ('partials/loader') %>
</html>
