<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %> 
    <link rel="stylesheet" href="/css/project.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <!-- <h1>프로젝트</h1> -->
        <div class="canvasContainer">
            <canvas id="myCanvas">
            </canvas>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <script src="../libs/common.js"></script>
    <script src="../libs/project.js"></script>
</body>
</html>
