<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/project.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <!-- <h1>프로젝트</h1> -->
        <div>
            <canvas width=500 height=300 id="myCanvas">
            </canvas>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <script src="../libs/common.js"></script>
    <script src="../libs/project.js"></script>
</body>
</html>
