<!DOCTYPE html>
<html lang="ko">
<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="../css/project.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <div class="loading">
            로딩중
        </div>
    </main>

    <div class="dockContainer"></div>

    <script src="../dist/bundle.js"></script>
    <script src="../libs/common.js"></script>
    <script src="../libs/diary.js"></script>
</body>
<!--loader-->
<%- include ('partials/loader') %>
</html>
