/* common.css */
@import url('https://fonts.googleapis.com/css?family=Gugi|Oswald|Poor+Story|Nanum+Gothic|Noto+Sans+KR&display=swap');

/* css initialize */

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

/* variables*/
:root {
    --main-bg-color: rgb(187, 28, 7);
}



/* font face */

@font-face{
    font-family: NanumGothic;
    src: url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800) format("woff2")
}


/* global style */
a{
    color:white;
}
header{
    position:relative;
}
header a{
    font-style: normal;
    text-decoration: none;
}
span{
    font-family: 'Nanum Gothic', sans-serif;
}


/* header */
.logo{
    background-color: white;
    color: rgb(43, 43, 43);
    text-align: center;
    padding:1em;

    /* font family + fallbacks */
    font-family: Oswald;
    font-size:2em;

    position:relative;

    transition: 1s ease;
}
.logo a{color:black}


#hamburger{
    display:none;
    float:right;
    line-height: 27px;
    position:relative;
    right:5px;
}

#pop-up{
    display:none;
    background-color: white;
    color:white;
    position: absolute;
    right:0;
    z-index:10;
    width:33vw;
}
#pop-up div{
    display:flex;
    flex-direction:column;
    text-align:center;
}
#pop-up a{
    background-color: var(--main-bg-color);
    padding:1.2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    letter-spacing: 1.5px;
}
#pop-up a:hover{
    background-color: black;
}

.sticky{
    position:fixed !important;
    width:100%;
    right:0;
    z-index:10;
}
.sticky-popup{
    position:fixed !important;
    width:100%;
    right:0;
    top:50.23px;
    z-index:10;
}
.sticky-padding{
    padding-top:114px;
}


nav{
    text-align: center;
    padding: 1.5em;
    background-color: var(--main-bg-color);
}

nav a{
    padding: 0.6em 0.8em;
    border-radius: 3px;
    
    /* font settings */
    color: white;
    font-family: 'Oswald', 'Gugi' ,sans-serif;
    font-size: 1em;
    font-weight: 550;
    text-decoration: none;
    letter-spacing: 1.5px;
}
nav a:visited{
    color:white;
    font-style: normal;
}
nav a:hover{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
    background-color: black !important;
    transition:2s;
}


/* main */
main{
    /* size and aligning */
    margin:0 auto;

    /* font */
    font-size:0.8em; /* 기본사이즈! */

    /* 기본 line height! */
    line-height:2em;

    /* transition(animate) */
    transition: width 0.5s ease;
}


/* footer */
footer{
    color: var(--main-bg-color);
    text-align: center;
    padding: 3.5em;

    font-family: 'Oswald';
    font-size:0.7em;

    border-top:1px dotted var(--main-bg-color);

    display:none;
}

#home{
    font-family: 'Gugi';
    z-index:3;
    background-color: #fff;
    padding:1em;
    color:black;
    display: none;
    position:fixed;
    font-size:0.7em;
    right:10px;
    bottom:55px;
}
.appear{
    display:block !important;
}

.loaderContainer{
    /* fixed position, centered */
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:10;
}
#loader{
    font-size:3em;

    border:10px solid var(--main-bg-color);
    border-top:10px solid #fff;
    border-radius:50%;
    padding:0.5em;

    animation: spin 2s linear infinite;

    /* for test */
    /* display:block !important; */
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}


/* only smartphones ~ 480px */
@media only screen and (max-width: 480px){
    /* #hamburger{
        display:block;
    } */

    .logo{
        background-color: var(--main-bg-color);
        color: #fff;
        padding:0.7em;
        font-size:1.1em;

        transition: all 0.5 ease;
    }
    .logo a{color:white;}
    #pop-up a{color:white;}

    nav{
        /* 하단고정 */
        position:fixed;
        z-index:2;
        bottom:0;
        right:0;

        /* 사이즈 */
        width:100%;
        font-size: 0.8em;
        padding: 1em 0;
    }

    main{
        margin:0 auto !important;
        max-width:100%;
    }

    footer{
        padding: 1.2em;
    }
}

/* tablet + desktop 481px ~ */
@media only screen and (min-width: 481px){
    #pop-up{
        display:none !important;
    }
}

main{
    margin:1.5em auto;
}


.fade-in{
    animation: fadeIn 0.2s;
    animation-fill-mode: forwards; 
}
.fade-out{
    animation: fadeOut 0.2s;
    animation-fill-mode: forwards; 
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}