/* common.css */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

/* css initialize */

html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

/* variables*/
:root {
    --main-bg-color: rgb(187, 28, 7);
}



/* font face */

@font-face{
    font-family: NanumGothic;
    src: url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800) format("woff2")
}

a{
    color:white;
}
header a{
    font-style: normal;
    text-decoration: none;
}


/* header */
.logo{
    background-color: white;
    color: rgb(43, 43, 43);
    text-align: center;
    padding:1em;

    /* font family + fallbacks */
    font-family: Oswald;
    font-size:2em;
}
.logo a{color:black;}

#hamburger{
    display:none;
    float:right;
    line-height: 27px;
    position:relative;
    right:5px;
}

#pop-up{
    display:none;
    background-color: white;
    color:white;
    position: absolute;
    right:0;
    box-shadow: 1px 1px 4px black;
    width:33vw;
}
#pop-up div{
    display:flex;
    flex-direction:column;
    text-align:center;
}
#pop-up a{
    background-color: var(--main-bg-color);
    padding:1.2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    letter-spacing: 1.5px;
}
#pop-up a:hover{
    background-color: black;
}

nav{
    text-align: center;
    padding: 1.5em;
    background-color: var(--main-bg-color);
}

nav a{
    padding: 0.6em 0.8em;
    border-radius: 3px;
    
    /* font settings */
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 550;
    text-decoration: none;
    letter-spacing: 1.5px;
}
nav a:visited{
    color:white;
    font-style: normal;
}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    font-size:1.2em;
    transition:0.18s;
}

.active{
    text-decoration: underline;
    background-color: black !important;
    transition:2s;
}


/* main */
main{
    /* size and aligning */
    margin:0 auto;

    /* font */
    font-family: 'Noto Sans KR', sans-serif;
    font-size:0.7em; /* 기본사이즈! */

    /* 기본 line height! */
    line-height:2em;

    /* transition(animate) */
    transition: max-width 0.5s ease;
}


/* footer */
footer{
    color:white;
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 1.5em;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:0.8em;
}

#home{
    color:white;
    text-shadow: 2px 4px 3px black;
    display: none;
    position:fixed;
    right:15px;
    bottom:25px;
}
.appear{
    display:block !important;
}


/* only smartphones ~ 480px */
@media only screen and (max-width: 480px){
    #hamburger{
        display:block;
    }

    .logo{
        background-color: var(--main-bg-color);
        color: #fff;
        padding:0.7em;
        font-size:1.1em;
    }
    .logo a{color:white;}
    
    nav{
        display:none;
    }

    main{
        /* color:blue; */
        max-width:100%;
        font-size:11px;
    }

    footer{
        text-align: center;
        padding: 1.2em;
        font-size:0.8em;
    }

    footer > span{
        font-weight: 800;
    }
}

/* tablet + desktop 481px ~ */
@media only screen and (min-width: 481px){
    #pop-up{
        display:none !important;
    }
}

/* only desktop 768px ~ */
@media only screen and (min-width: 768px){
    main{
        margin:1.5em auto;
        max-width:80%;
    }
}


.fade-in{
    animation: fadeIn 0.2s;
}
.fade-out{
    animation: fadeOut 0.2s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}