#writeButton{
    background-color: navy;
    color:white;

    position:fixed;
    bottom:10px;
    left:10px;
}

hr{
    border:0;
    height:1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

main{
    max-width:800px;
    min-height:50vh;
    color:black;
    background-color: white;
    line-height:1.8em;
    display:none;

}

section > div:nth-child(4n-1) > div{
    grid-template-areas: 
        "desc img";
}

section{
    padding: 2%;
}


.post{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img desc";
    grid-gap:1em;

    padding: 2%;
    /* border-top:0.2px rgb(216, 216, 216) solid;
    border-bottom:0.2px rgb(216, 216, 216) solid; */
    height:280px;
}

/* grid item 1 */
.post .img{
    grid-area:img;
    position:relative;
}
/* grid item 2 */
.post .description{
    padding:1em;
    grid-area:desc;
    position:relative;
    overflow: hidden;
}
.post .description h2{
    font-family: 'Gugi';
    /* font-family: Oswald; */
    font-size:2em;
    margin-top:0.5em;
    font-weight:900;
    white-space: nowrap;
}
.post .description p{
    max-height:180px;
    overflow: hidden;
    font-size:0.8em;
    font-family:'Nanum Gothic';
    text-align: justify;
}

.post img { /* 원리 알기 */
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    position:absolute;
    border-radius: 0.5em;
}

section span{
    position:absolute;
    bottom:3px;
    right:14px;
    color:black;
    font-size: smaller;
}
section a{
    position:absolute;
    bottom:3px;
    left:15px;
    color:grey;
    font-size: smaller;
}
.description a:hover{
    color:black;
    text-decoration: underline;
}   
#date{
    float:right;
}

footer{
    display:none;
}
::-webkit-scrollbar{
    width:3px;
    height:3px;
    border:1px solid #213122
}


/* 0 ~ 480px */
@media only screen and (max-width: 480px){
    main{
        line-height:1.5em;
    }
    .post{
        grid-template-columns: 1fr;
        grid-template-rows:60% 40%;
        grid-template-areas: 
            "img"
            "desc";
        grid-gap:0.5em;
        min-height:440px;
    }
    section > div:nth-child(4n-1) > div{
        grid-template-areas: 
            "img"
            "desc";
    }
    section > div::after{
        content:' ';
        display:block;
        height:10px;
    }

    /* see more 버튼 재구성 */
    section a{
        /* 위치 재설정 */
        position:absolute;
        left:auto;
        bottom:0;

        /* 디자인변경 */
        text-decoration: none;
        color:black;
        font-family: Gugi;
        padding: 5px 8px;

        /* flex item */
        align-self: center;
    }
    section a::before{
        content:'<click to ';
        font-family: Gugi;
    }
    section a::after{
        content:'>';
        font-family: Gugi;
    }
    section span{
        display:none;
    }

    .description{
        padding:0 1em;
        
        display:flex;
        flex-direction: column;
    }
    .description h2{
        font-size:1em;
        margin:1em 0;
    }
    .description p{
        max-height:7em;
        min-height:7em;
    }

    #writeButton{
        bottom:50px;
        left:5px;
    }
}

@media only screen and (max-width: 767px){
    main{
        margin: 0 auto;
    }
}
@media only screen and (min-width: 768px){
    main{
        min-width:730px;
        box-shadow: 1px 1px 5px rgb(223, 223, 223);
    }
}

/* media query의 min-width와 max-width 개념잡기*/
/*
    1. min-width
    2. max-width means less than or equal to the width specified in that media query.

    이렇게 기억하자. 최솟값 - 이상, 최댓값 - 이하.
    
    reference - https://medium.com/@banuriwick/min-width-max-width-media-queries-994e2ec5fca3
*/
