#writeButton{
    background-color: navy;
    color:white;

    position:fixed;
    bottom:10px;
    left:10px;
}

main{
    color:black;
    background-color: white;
    box-shadow: 0.5px 1px 3px black;
}

section > div:nth-child(even) > div{
    grid-template-areas: 
        "desc img";
}

/* grid container */
.post{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img desc";
    grid-gap:1.3em;

    padding: 2%;
    border-top:0.5px rgb(216, 216, 216) solid;
    border-bottom:0.5px rgb(216, 216, 216) solid;
    height:280px;
}
.post p{
    max-height:180px;
    overflow: hidden;
    font-size:0.9em;
    font-family:'Noto Sans KR'; /* 갑자기 뭐지? */
}

/* grid item 1 */
.img{
    grid-area:img;
    position:relative;
}
/* grid item 2 */
.description{
    grid-area:desc;
    position:relative;
    overflow-x: hidden;
}
.description h2{
    font-family: 'Gugi';
    font-size:2em;
    margin-top:0.5em;
    font-weight:900;
    white-space: nowrap;
}

img { /* 원리 알기 */
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    position:absolute;
    border-radius: 0.5em;
}

section span{
    position:absolute;
    bottom:3px;
    right:0;
    color:grey;
    font-size: smaller;
}
section a{
    position:absolute;
    bottom:3px;
    left:0;
    color:grey;
    font-size: smaller;
}
.description a:hover{
    color:aliceblue;
    text-decoration: underline;
}   
#date{
    float:right;
}

/* 0 ~ 480px */
@media only screen and (max-width: 480px){
    .post{
        grid-template-columns: 1fr;
        grid-template-rows:60% 40%;
        grid-template-areas: 
            "img"
            "desc";
        grid-gap:0.5em;
        min-height:400px;
    }
    section > div:nth-child(even) > div{
        grid-template-areas: 
            "img"
            "desc";
    }
    .post p{
        max-height:113px;
    }
    h2{
        display:none;
    }
}

@media only screen and (max-width: 767px){
    main{
        margin: 0 auto;
    }
}
@media only screen and (min-width: 768px){
    main{
        max-width:60%;
        min-width:730px;
    }
}

/* media query의 min-width와 max-width 개념잡기*/
/*
    1. min-width
    2. max-width means less than or equal to the width specified in that media query.

    이렇게 기억하자. 최솟값 - 이상, 최댓값 - 이하.
    
    reference - https://medium.com/@banuriwick/min-width-max-width-media-queries-994e2ec5fca3
*/
