#writeButton{
    background-color: navy;
    color:white;

    position:fixed;
    bottom:10px;
    left:10px;
}

main{
    color:white;
    background-color: black;
    box-shadow: 1px 1px 3px black;
}

section > div:nth-child(even) > div{
    grid-template-areas: 
        "desc img";
}

/* grid item 1 */
.img{
    grid-area:img
}
/* grid item 2 */
.description{
    grid-area:desc
}

.post{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img desc";
    grid-gap:1em;

    padding: 2%;
    border-top:1px white solid;
    border-bottom:1px white solid;
}
.post p{
    max-height:170px;
    overflow: hidden;
}

img { /* 원리 알기 */
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.description span, a{
    color:grey;
    font-size: smaller;
}
.description a:hover{
    color:aliceblue;
    text-decoration: underline;
}   
#date{
    float:right;
}

hr{
    margin: 2em 0;
}

/* 0 ~ 480px */
@media only screen and (max-width: 480px){
    .post{
        grid-template-columns: 1fr;
        grid-template-rows:70% 30%;
        grid-template-areas: 
            "img"
            "desc";
    }
    section > div:nth-child(even) > div{
        grid-template-areas: 
            "img"
            "desc";
    }
    .post p{
        max-height:100px;
    }
    h2{
        margin-top:0.1em;
    }
}

@media only screen and (min-width: 768px){
    main{
        max-width:60%;
        min-width:730px;
    }
}

/* media query의 min-width와 max-width 개념잡기*/
/*
    1. min-width
    2. max-width means less than or equal to the width specified in that media query.

    이렇게 기억하자. 최솟값 - 이상, 최댓값 - 이하.
    
    reference - https://medium.com/@banuriwick/min-width-max-width-media-queries-994e2ec5fca3
*/
