.dock{
    /* styling */
    background-color: var(--main-bg-color);
    border-radius:1em;
    height:30px;

    /* aligning */
    position:fixed;
    bottom:30px;
    left:50%;
    transform:translate(-50%);

    /* aligning child element */
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.dock .imgs{
    display:flex;
    justify-content: flex-start;
    align-items:flex-end;
    scroll-behavior: smooth;

    width:90%;
    overflow-x:auto;
}
.dock .imgContainer{
    width:30px;height:30px;
    position:relative;
    
    flex-shrink:0;
    margin: 0 5px;
}

.dock img{
    position:absolute;
}

.dock .imgContainer:hover{
    width:50px;height:50px;
}