main{
    color:white;
    background-color: black;
    box-shadow: 1px 1px 3px black;

    padding:0.5em;
}

.pictures{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:1.5em;

    padding:4%;
}
.pictures > div:hover{
    opacity: 0.6;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}


/* 0 ~ 480px */
@media only screen and (max-width:480px){
    .contents{
        background-color: red;
    }

    /* grid column 1개로 */
    .pictures{
        grid-template-columns:1fr;
    }
}
@media only screen and (min-width:481px){
    .pictures{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width:768px){
    .pictures{
        grid-template-columns: repeat(3,1fr);
    }
}


