body{
    display:none;
}


/* main */
main{
    /* grid! */
    display:grid;
    max-width:800px;
    font-family:'Nanum Gothic', serif;
}
section a{
    color:black;
    text-decoration: none;
}
    /* grid container */
    .article{
        display:grid;
        line-height:2em;
        /* 제목이 너-무 긴 경우 레이아웃이 망가지지 않도록 */
        overflow:hidden; 
    }
        /* grid item */
        .article > a{
            position:relative;
            font-style: normal;
            text-decoration: none;
            text-align:center;
            min-height:13em;
            max-height:13em;
            padding: 2em;
            color:white;
            background-color: #ffffff;
            
            box-shadow: 1px 1px 4px rgb(223, 223, 223);

            display:flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;
        }
        .post{
            position:relative;
            z-index:2;
            max-height:15em;
        }
        .article h1{
            /* font-family: 'Gugi'; */
            font-size:0em;
            opacity:0;
            margin:0;
            white-space: nowrap;

            transition: 0.5s;
        }
        .article p{
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            font-size:0.8em;
            margin:0;
        }
        .article img{
            position:absolute;
            z-index:1;
            left:0;
            top:0;

            /* opacity: 0.25; */
        }

    /* grid container */
    section .drawing{
        padding:1em;

        display:grid;
        grid-gap:1em;
        grid-template-columns: 1fr 1fr 1fr;

        border-top:1px white solid;
    }
    
        /* grid item */
        .drawing > div{
            background-color: pink;
        }
        .drawing > div:hover{
            opacity: 0.5;
            transition:0.2s;
        }

        img { /* 원리 알기 */
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

    .visitors{
        padding:10px 0;
        font-size:0.9em;
    }
    .visitors a:hover{
        font-weight: 700;
    }
    .visitor{
        margin:10px 0;
        padding:5px 10px;
        color:black;
        background-color: #fff;
        box-shadow: 1px 1px 4px rgb(223, 223, 223);

        display:flex;
        justify-content: space-between;

        font-size:0.8em;
    }
    .visitor:hover{
        /* background-color: var(--main-bg-color);
        color:white; */
    }
    .visitor #name{
        font-weight:900;
        font-size:0.8em;
        font-style: italic;
        color:goldenrod
    }

    .visitor #content{
        white-space: nowrap;
        max-width:375px;
        overflow-x: hidden;
    }
    
    /* aside */
    aside{
        padding: 1rem;
        background-color: white;
        line-height: 30px;
        box-shadow: 0px 1px 4px rgb(145, 145, 145);
        font-family:'Nanum Gothic';

        font-size: 0.8em;
    }

        aside b{
            font-family: 'Gugi';
        }
        aside div{ /* for all descendent divs */
            background-color: #fff;
        }
        aside > div{ /* only for direct children (divs) */
            background-color: #fff;
        }

        #instagram-embed{
            width:100%;
            margin:1em auto;
        }
        





/*  RESPONSIVE (mobile first) */

/* mobile (0 ~ 480px) */
@media only screen and (max-width: 480px){
    a{
        color:black;
    }
    main{
        display:block;

        margin: 0 auto;
        padding: 0.5em;
    }
    section{
        /* background-color: #fff; */
    }
    section .article{
        grid-template-columns: 1fr;
        grid-gap:0.5em;
        padding: 0.1em;
    }
    .article > a{
        color:black;
        min-height:50px;
        padding:0.5em;
        border-radius: 0.5em;
    }
    .article a .post{
        opacity:1;
        margin-left:auto;
        width:48%;
    }
    .article a img{
        width:50%;
    }
    .article h1{
        opacity: 1;
        font-size:0.7em;
    }
    .article p{
        max-height:0em;
        line-height:1.3em;
        opacity:1;
    }

    section .drawing{
        margin :1em 0;
        padding: 0;
        background-color: white;
    }
    .drawing > div{
        box-shadow: 0px 4px 5px black;
    }
    .visitors{
        padding:0;
    }
    .visitor{
        margin:5px 0;
        border-radius: 1em;
    }
    .visitor #content{
        max-width:180px;
    }

    .profile-info{
        background-color: black;
        color:white;
        box-shadow: 0px 4px 10px black;
        padding:2em;
    }

    aside{
        box-shadow: 1px 1px 4px rgb(223, 223, 223);
        border-radius: 0.5em;
    }
    aside img{
        border-radius: 0.5em;
    }
}

/* tablet (481px ~ 768px) **스타일 적용은 481px 이상에 전부 적용(481px ~ )** */
@media only screen and (min-width: 481px){
    main{
        grid-template-columns: 70% 30%;
    }
    section .article{
        grid-template-columns: 1fr 1fr;
        grid-gap:0.5em;
    }
}

/* desktop (769px ~ ) 481px 이상에 적용 + 768px 이상에 추가적으로 적용 (cascading) */
@media only screen and (min-width: 768px){
   main{
       grid-gap:1em;
   }
}

/* 1000px 이하에서 aside가 아래로 + aside 내에서 column 2개로 변환 */
@media screen and (max-width:1000px){
    main{
        grid-template-columns: 1fr;
        max-width:500px;
    }
    aside{
        padding:0 1rem;
        display:grid;
        grid-template-columns: repeat(2,1fr);

    }
    aside > div{
        justify-content: center;
        align-self:center;
    }
    aside div:nth-child(2){
        width:80%;
        margin:0 auto;
        /* order:-1; */
    }
    aside .contact-info{
        text-align: center;
    }
    .insta-photo b{
        display:none;
    }
}

@media screen and (max-width: 480px){
    main{
        padding-bottom:50px;
    }
    aside{
        margin: 0 auto;
    }
    footer{
        display:none;
    }
}

@media screen and (min-width: 481px){
    .article > a:hover{
        color:#fff;
        cursor:pointer;
        background-color: black;
    }
    .article > a:active{
        opacity: 1;
        transition: 0.1s;
    }
    .article a:hover img{
        opacity:0.4;
        transition: 0.5s;
    }
    .article a:hover h1{
        opacity:1;
        font-size: 1em;
    }
}




