main{
    color:white;
    background-color: black;
    padding: 2em 2%;
}

article{
    margin:0 auto;
    max-width:450px;
}

header,section{
    text-align:center;
}

img{
    max-width:60%;
}


@media only screen and (max-width:480px){
    article{
        max-width:90%;
    }
}

@media only screen and (min-width: 768px){
    main{
        margin:1.5em auto;
        max-width:700px;
    }
    
}