.left{
    text-align: left;
}
.center{
    text-align: center;
}


button{
    background-color: navy;
    color:white;

    position:fixed;
    bottom:10px;
    left:10px;
}
#updateButton{
    bottom:40px;
}

main{
    color:white;
    background-color: black;
    padding: 2em 2%;
}

article{
    margin:0 auto;
    max-width:450px;
}

header,section{
    text-align:center;
}

h1{
    text-transform: uppercase;
    font-size:3em;
}

img{
    max-width:60%;
    margin-bottom:1em;
}

p{
    line-height:1.65em;
    text-align:left;
}

@media only screen and (max-width:480px){
    article{
        max-width:90%;
    }
}

@media only screen and (min-width: 768px){
    main{
        margin:1.5em auto;
        max-width:700px;
    }
    
}