main{
    margin:auto;
    text-align: center;
    padding:1em;
}

.canvasContainer{
}

canvas{
    width:99%;
    height:auto;
    border:black 1px solid;
}


@media only screen and (min-width:481px){
    main{
        max-width:500px;
    }
}