main{
    padding: 1em;
    font-family:'Poor Story', serif;
    color:black;
}

#postForm{
    display:flex;
}
#postForm > textarea{
    width:90%;
    min-height:15vh;
    border:black 2px solid;
}
#postForm > textarea:focus{
    outline:none;
    border:green 2px dashed;
}
#postForm button{
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding:1em;
}
.guestPost{
    overflow:hidden; /* added to contain the buttons inside of the div */
    transition:0.5s;
}

.guestPost > a{
    float:right;
}
.guestPost button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:0.9em;
}

.published{
    font-size:0.75em;
    color:rgb(105, 102, 102);
}


@media only screen and (min-width:768px){
    main{
        max-width:60%;
        min-width:700px;
    }
}