<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- main -->
    <main>
        <h1>admin</h1>
        <p>어드민페이집니다!</p>
        <form action="">
            <input type="text" placeholder="id"><br>
            <input type="password" placeholder="password">
            <button type="submit">login</button>
        </form>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <script src="/libs/common.js"></script>
</body>
</html>