body{
    display:none;
}
main{
    margin: 1em auto;
    max-width:330px;
    font-family: 'Noto Sans KR';
    box-shadow: 0px 2px 5px black;
    border: 10px solid black;

    font-size: 0.6em;
}

#item1{
    background-color: black;
    color:white;
    padding:2em;
}
#item2{
    color: black;
    background-color:white;
    padding: 2em;
}



#img-wrapper{
    text-align: center;
}
#img-wrapper img{
    border: 1.5px white dashed;
    border-radius: 100%;
    /* padding으로 사진과 border 간의 공간 만듦 */
    padding:0.5em;
    height:150px;
}



label{
    line-height: 2.8em;
}


@media only screen and (max-width: 480px){
    main{
        margin: 0 auto;
        max-width:100%;
        box-shadow: 0px 0px 0px black;
        line-height:2em;
    }
    section{
        display:block;
    }

    #img-wrapper img{
        width:12em;
        height:auto;
    }

    .profile-info{
        background-color: black;
        color:white;
        padding:2em;
    }

}
