@charset "UTF-8";
main::before {
  content: "";
  /* background: linear-gradient(90deg, rgba(117,115,158,1) 0%, rgba(186,219,158,1) 36%, rgba(215,79,98,1) 72%, rgba(0,212,255,1) 100%); */
  background-image: url("/imgs/skyup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main::after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.7;
  background-color: black;
}

/* ---------- 컨테이너 ----------- */
.Container {
  /* location */
  position: fixed;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* contents */
  /* padding:1em;
      background-color: #fff; */
}

/* ---------- 메인 ----------- */
.Main {
  /* feature */
  border: 2px solid white;
  border-radius: 1em;
  background-color: var(--main-bg-color);
  padding: 2em 1em;
  min-width: 300px;
  max-width: 300px;
  min-height: 60vh;
  -webkit-box-shadow: 3px 5px 5px black;
          box-shadow: 3px 5px 5px black;
  /* contents */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* font */
  font-family: "DungGeunMo";
}

.Main .title {
  /* feature */
  background-color: #fff;
  border-radius: 0.2em;
  padding: 0.5em 0;
  width: 95%;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
}

.Main .content {
  width: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Main .content .img-container {
  width: 95%;
  min-height: 150px;
  margin: 1em 0;
  border-radius: 0.2em;
  position: relative;
  overflow: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: black;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
}

.Main .content img {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.Main .content .zoom-in {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.Main .content .zoom-out {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.Main .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Main #editBtn {
  position: relative;
  right: -1px;
  margin-left: auto;
}

.Main button {
  /* location */
  position: relative;
  bottom: -2px;
  margin-right: 1px;
  z-index: 0;
  /* desc 보다 뒤에 */
  /* feature */
  padding: 4px 7px;
  padding-bottom: 7px;
  border: 0px;
  border-bottom: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #d4dadf;
  /* content */
  font-family: "DungGeunMo";
}

.Main button:hover {
  background-color: antiquewhite;
}

.Main button.active {
  background-color: #fff;
}

.Main button:focus {
  /* active일 때 나오는 기본 blue line 지우기 */
  outline: 0;
}

.Main .desc {
  background-color: #fff;
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  padding: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 1;
  /* button보다 앞에 */
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
}

.Main .href {
  background-color: #fff;
  margin: 3px 0;
  border-radius: 0.2em;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

@media only screen and (max-width: 480px) {
  .Container {
    -webkit-transform: translate(-50%, -50%) scale(0.85);
            transform: translate(-50%, -50%) scale(0.85);
  }
  .Main {
    font-size: 0.95em;
    -webkit-transform: translate(-40%, -10%) scale(0.9);
            transform: translate(-40%, -10%) scale(0.9);
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .Main.active {
    border: pink 10px solid;
    -webkit-transform: translate(-45%) scale(1);
            transform: translate(-45%) scale(1);
    z-index: 10;
  }
  .Main .content .desc {
    min-height: 100px;
    max-height: 100px;
    overflow: scroll;
  }
}
/*# sourceMappingURL=Main.css.map */