$hover-color: antiquewhite;

main::before {
  content: "";
  /* background: linear-gradient(90deg, rgba(117,115,158,1) 0%, rgba(186,219,158,1) 36%, rgba(215,79,98,1) 72%, rgba(0,212,255,1) 100%); */
  background-image: url("/imgs/skyup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
main::after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.5;

  background-color: black;
}

/* ---------- 컨테이너 ----------- */
.Container {
  /* location */
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;

  /* contents */
  /* padding:1em;
      background-color: #fff; */
}

/* ---------- 메인 ----------- */
.Main {
  /* feature */
  border: 2px solid white;
  border-radius: 1em;
  background-color: var(--main-bg-color);
  padding: 2em 1em;
  min-width: 300px;
  max-width: 300px;
  min-height: 60vh;

  box-shadow: 3px 5px 5px black;

  /* contents */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* font */
  font-family: "DungGeunMo";
  .title {
    /* feature */
    background-color: #fff;
    border-radius: 0.2em;
    padding: 0.5em 0;
    width: 95%;
  }

  .content {
    width: 95%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .img-container {
      width: 95%;
      min-height: 150px;
      margin: 1em 0;
      border-radius: 0.2em;
      position: relative;
      overflow: auto;
      align-self: center;
      background-color: black;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      position: absolute;
    }

    .zoom-in {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
    .zoom-out {
      object-fit: scale-down;
    }
  }
  .tab {
    display: flex;
  }
  #editBtn {
    position: relative;
    right: -1px;
    margin-left: auto;
  }
  button {
    /* location */
    position: relative;
    bottom: -2px;
    margin-right: 1px;
    z-index: 0; /* desc 보다 뒤에 */

    /* feature */
    padding: 4px 7px;
    padding-bottom: 7px;
    border: 0px;
    border-bottom: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(212, 218, 223);

    /* content */
    font-family: "DungGeunMo";
  }
  button:hover {
    background-color: $hover-color;
  }
  button.active {
    background-color: #fff;
  }
  button:focus {
    /* active일 때 나오는 기본 blue line 지우기 */
    outline: 0;
  }

  .desc {
    background-color: #fff;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    padding: 0.5em;
    flex-grow: 1;

    position: relative;
    z-index: 1; /* button보다 앞에 */
  }

  .href {
    background-color: #fff;
    margin: 3px 0;
    border-radius: 0.2em;
  }
}
